@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Hind');

body{
  font-family: 'Hind', sans-serif;
}

.logo, .nav-item{
  font-family: 'Bungee', cursive;
}

label{
  font-weight: 700;
  text-transform: uppercase;
}
