{% extends 'base.html' %}

{% block content%}
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>
          Users list
        </label>
        <p>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'user_create' %}" class="btn btn-primary float-right">
        <i class="fas fa-plus"></i> Add user
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group list-group-flush">
        {% for user in users %}
          <li class="list-group-item bg-light">
            {{ user.username }} - {{ user.email }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <a href="{% url 'admin:auth_user_changelist' %}" class="btn btn-primary">
        Manage users on admin site
      </a>
    </div>
  </div>

{% endblock %}
