{% extends 'base.html' %}
{% load check_permission %}

{% block content%}
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>
          Users list
        </label>
        <p>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if user|check_permission:'auth.add_user' %}
      <a href="{% url 'user_create' %}" class="btn btn-primary float-right">
        <i class="fas fa-plus"></i> Add user
      </a>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group list-group-flush">
        {% for user in users %}
          <li class="list-group-item bg-light">
            {{ user.username }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      {% if user.is_staff %}
      <a href="{% url 'admin:auth_user_changelist' %}" class="btn btn-primary">
        Manage users on admin site
      </a>
      {% endif %}
    </div>
  </div>

{% endblock %}
