{% load check_permission %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand logo" href="{% url 'index' %}">
      prioriza
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

      {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">

          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->

          {% if user|check_permission:'auth.add_user' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_list' %}">
              Users
            </a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'poll_list' %}">
              Polls
            </a>
          </li>

        </ul>
      {% endif %}

      {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-user"></i> {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="#">
                <i class="fas fa-user"></i> Edit account
              </a>
              <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>

        </ul>
      {% endif %}

    </div>
  </div>
</nav>
